<div class="d-flex justify-content-center align-items-center welcome-div">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <a href="/home"><img src="/img/welcome-bg.jpg" class="img-fluid" /></a>
        </div>
    </div>
</div>