<section class="welcome-section d-flex justify-content-center align-items-center my-5" id="section_1">
    <div class="container">
        <div class="row justify-content-center">
            <img class="welcome-img" src="img/welcome-shoes.png" alt="Image">
        </div>
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Welcome to Shoetopia</h1>
                <h3 class="text-center">Your online shoe store</h3>
            </div>
            <div class="row justify-content-center my-5">
                <a href="/home" class="btn btn-light rounded-pill">Shop</a>
            </div>
        </div>
    </div>
</section>