<main id="main" class="main">
  <div class="pagetitle">
    <h1>Address Book</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/home">Home</a></li>
      </ol>
    </nav>

    <section class="section">
      <div class="row">
        <div class="col-lg-9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <button type="button" class="btn btn-primary">Create</button>
              </h5>
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col"><i class="bi bi-pencil-square"></i></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each addresses}}
                  <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{email}}</td>
                    <td><a href="abc"><i class="bi bi-pencil-square"></i></a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- End Page Title -->
</main>